<div class="container card-block border pt-2 m-2">
    <h4 class="card-title">{{data.setup}}</h4>
    <p class="card-text text-primary" [hidden]="data.hide">{{data.punchline}}</p>

    <a (click)="data.toggle()" class="btn btn-primary m-2">Tell Me </a>
    <a (click)="deleteJoke()" class="btn btn-danger m-2">Delete </a>
</div>