<div class="container card-block bg-info p-3">
    <h3 class="titulo text-light">GENERATE YOUR JOKES/RIDDLES</h3>
    <br/>
    <form [formGroup]="formCustomizableJoke">
        <div class="contenedorbroma col-9">
            <input #setup [ngClass]="setupCorrectFormat" formControlName="setupForm" type="text" class="form-control" placeholder="Your Joke/Riddle" required>
        </div>
        <br/>
        <div class="contenedorRemate col-9">
            <input #punchline [ngClass]="punchlineCorrectFormat" formControlName="punchlineForm" type="text" class="form-control" placeholder="Your Answer" required>
        </div>
        <hr/>
        <button type="btn btn-secondary btn-sm" class="btn btn-light btn-lg" (click)="makeAJoke(setup.value, punchline.value)">
        <b>Ready</b>
      </button>
    </form>
</div>