<div class="pt-4">
    <!--Hijo JokeForm-->
    <jokeform (myOwnJoke)="addJoke($event)"></jokeform>

    <br/>
    <hr/>
    <h2 class="tiutlo">My Jokes</h2>
    <br/>
    <!--'j' hace referencia a la variable Joke que es un Array-->
    <joke *ngFor="let j of jokes" [joke]="j" (jokeRemove)="removeJoke($event)"></joke>
</div>